<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Sample-blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
            </ul>
            <div class="navbar-right">
                <button id="add" class="btn btn-success navbar-btn">add Post</button>
            </div>
        </div>
    </div>
</nav>

<div class="container" id="view"></div>