<div class="row">
    <div class="col-xs-10">
        <h3>{{post.title}}</h3>

        {{#if post.image}}
            <img src="{{post.image}}" class="img-responsive img-thumbnail" alt="image">
        {{/if}}
        <hr/>
        <p>{{post.body}}</p>
        <small class="text-muted">By {{post.author}}</small>
    </div>
    <div class="col-xs-2">
        <button id="edit" class="btn btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button id="del" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span> Remove</button>
    </div>
</div>
